discord.py
python-dotenv
asgiref
openai
requests-cache
tiktoken
aiohttp
multidict
requests
attrs
yarl
idna
charset-normalizer
propcache
aiohappyeyeballs
aiosignal
async-timeout
frozenlist
urllib3
certifi
url-normalize
Pillow