discord.py==2.3.2
python-dotenv==1.0.0
asgiref==3.7.2
openai==1.3.5
requests-cache==1.1.0
tiktoken>=0.7.0
aiohttp>=3.8
multidict>=6.0
requests>=2.31.0
attrs>=22.1.0
yarl>=1.9.2
idna>=3.4
charset-normalizer>=3.2.0
propcache>=0.1.0
aiohappyeyeballs>=0.2.0
aiosignal>=1.3.1
async-timeout>=4.0.3
frozenlist>=1.4.0
urllib3>=2.0.4
certifi>=2024.8.30
url_normalize>=1.0.0
Pillow>=10.0.1